/* TODO Form styles */
.form {
  width: 50%;
  margin: 0 auto;
  border: 4px solid grey;
}
.completed {
  text-decoration: line-through;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.input {
  width: 25%;
  margin: 2% auto;
  padding: 2%;
  color: darkorange;
}
.btn {
  width: 25%;
  margin: 2% auto;
  padding: 2%;
  border: 1px solid orange;
  font-variant: small-caps;
}
.btn:hover {
  background-color: orange;
  color: grey;
  border-color: grey;
}


/* TODO List styles */
.list-container {
  margin: 5% 0;
  text-align: center;
  background: grey;
  border: 2px solid orange;
}